.form {
    margin: 1.5em;
}
.card {
    padding: 3em;
    margin-top: 1em;
}
form.card {
    background-color: #1b0000;
    opacity: .80;
    color: aliceblue;
    /*font-size: 1.5em;*/
}
.card-img{
    width: 20em;
}