.form {
    margin: 1.5em;
}
.card {
    padding: 3em;
    margin-top: 1em;
}
form.card {
    background-color: #1b0000;
    opacity: .80;
    color: aliceblue;
    /*font-size: 1.5em;*/
}
.card-img{
    width: 20em;
}

/*Push button to right*/
.btn-media-right {
    display: inline-block;
    float: right;
    clear: both;
}
.img-resize {
    height: 10em;
    width: 10em;
    border-radius: 50%;
}

video {
    width: 100%;
    height: auto;
}
.carousel-item{
    display: block;
    height: 30em;
}
.rounded {
    border-radius: 1rem!important;
}
img {
    height: 100vh;
}
