html, body{
    height: 100%;
}
body {
    font-family: 'DejaVu Sans Mono', monospace;
    min-height: 100vh;
    background-color: rgba(139,0,0,0.07);
    color: #260000;
}
.bg-dark {
    background-color: darkred !important;

}
.bg-light {
    background-color: #450000  !important;

}
.navbar-dark .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link,
.nav-link{
    color: #f5f5f5;
}
.nav-link {
    padding: .5rem 1rem;
    margin: .1em .8em;
}
navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover,
navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover,
navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover
.nav-link:focus, .nav-link:hover  {
    color: #f6b66c
}
.nav .navbar-nav .nav-link {
    margin: .2em .6em;
}

.wrapper{
    min-height: 60vh;
}
#home {
    overflow: auto;
    background-size: cover;
    height: auto;
    border-radius: .5em;
    margin: 2em auto;
    padding: 2em;
    /*color: whitesmoke;*/
}
.btn-media{
    background-color: #980404;
    min-height: 4em;
    padding-top: 1em;
    color: ghostwhite;
    font-weight: 600;
    margin: .5em;
    min-width: 10em;
}
.btn-media:focus,.btn-media:hover{
    color: #f6b66c;
    background-color: #450000;
}

/*Footer style*/
.footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: medium;
    margin-top: 3em;
}
.footer-upper{
    background-color: #2d0101;

}
.footer-upper nav {
    padding: 1em 2em;
}
.footer-bottom{
    background-color: #1b0000;
    padding: 1em;
}

/*Input text and placeholder color*/

.form-control,.form-control:focus {
    color: #100000;
}

.w-100{max-height: 50vh;
}
.rounded {
    border-radius: 1rem!important;
}
.jumbotron {
    padding: 2rem;
    margin: 2rem auto;
}
.alert-success {
    width: 70%;
    color: #022309;
    background-color: #7ec38f;
    border-color:  #7ec38f;
    margin: auto;
}
#flash{
    display: none;
}
